<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/faviconSTI.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova - v1.2.1
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-index">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">Soluciones Tecnologicas Integrales</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="#promociones">Promociones</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#productos">Productos</a></li>
          <li><a href="Galeria.html">Galeria</a></li>
          <li><a href="#footer">Encontranos en</a></li>
          <li><a href="contact.html" target="_blank">Contacto</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <h2 data-aos="fade-up">San Juan 752, Villa del Rosario (Cba) </h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p> 03573 - 15412796 / 405535</p>
          </blockquote>
         <!-- <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-get-started">Get Started</a>
           <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>-->

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Promociones Section ======= -->
    <section id="promociones" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Promociones</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('assets/img/section_promo.png')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <h3 class="mb-3">NB NOBLEX 14 CELERON</h3>
                    <p>Procesador CELERON N4020C<br/>
                       Memoria 4GB<br/>
                       Disco Sólido 128GB<br/>
                       Pantalla 14 pulgadas </p>

                    <h4 class="mb-3">Contado Efectivo $ 292.000<br/><br/>
                                     Precio Lista     $ 315.000</h4>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <h3 class="mb-3">NB NOBLEX 14 Core I3</h3>
                  <p>Procesador CORE I3-1115G4<br/>
                     Memoria 8GB<br/>
                     Disco Sólido 258GB<br/>
                     Pantalla 14 pulgadas </p>

                  <h4 class="mb-3">Contado Efectivo $ 669.000<br/><br/>
                                   Precio Lista     $ 722.000</h4>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">NB ASUS 15.6 R3-3250U</h3>
                    <p>Procesador RYZEN R3-3250U<br/>
                       Memoria 8GB<br/>
                       Disco Sólido 2556GB<br/>
                       Pantalla 15,6 pulgadas </p>
  
                    <h4 class="mb-3">Contado Efectivo $ 679.000<br/><br/>
                                     Precio Lista     $ 731.000</h4>                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Promociones Section -->

    <!-- ======= Servicios Section ======= -->
    <section id="servicios" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nuestros Servicios</h2>

        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase" style="color: #f57813;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Tienda de Tecnología</a></h4>
              <p class="description">Tenemos a disposición toda la gama de acesorios informáticos<br/>
                                    Cubrimos tus necesidades de insumos de impresión como resmas de hojas, cartuchos, toners y tintas alternativos.</p>
            </div>
          </div>
          <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #d90769;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Venta y Asesoramiento en Equipos</a></h4>
              <p class="description">Te acompañamos en la compra de tu Equipo Informático asesorándote a conciencia ofreciéndote la solución adecuada a tus necesidades.<br/>
                                     Vendemos PC, Monitores, Notebooks, Impresoras. </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Servicio Tecnico</a></h4>
              <p class="description">Instalamos Sistema Operativo con utilitarios y programas necesarios.<br/>
                                     Optimizamos tu equipo limpiando de virus y logrando el mejor rendimiento.<br/>
                                     Alargamos la vida útil de tu equipo actualizando componentes<br/>
                                     Hacemos Chequeo y cambio de componente de hardware ante mal funcionamiento<br/>
                                    Todo con el Servicio Técnico más seguro, rápido y confiable.</p>

            </div>
          </div><!-- End Service Item -->

 
        </div>

      </div>
    </section><!-- End Servicios Section -->

     <!-- ======= Productos Section ======= -->
     <section id="productos" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Productos</h2>
        </div>

        <div class="row gy-5">
          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/global toner generico.jpg" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title"><a href="Prod_Toners.html">Toners alternativos</a></h5>
               
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="./assets/img/Productos/cartucho_global.JPG" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title"><a href="Prod_Cartuchos.html">Cartuchos alternativos</a></h5>
              
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="./assets/img/Productos/tintasoffice.JPG" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Tintas Alternativas</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/resma pampa.JPG" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Resmas de hojas</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/pen drive.JPG" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Pen Drivers</h5>
               
              </div>
            </div>
          </div>
          <!--Segundo set tarjetas-->
          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/mouseGenius.jpg" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Mouses</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Mouse_Inalambrico.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Mouses Inalambricos</h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Mouse_Retractil_Notebook.png" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Mouses retráctiles para Notebooks</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Mouse_Gamer_Office.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Mouses Gamers</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/PadMouse.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Pad Mouses</h5>
               
              </div>
            </div>
          </div>
    
           <!--Tercer set tarjetas-->
           <div class="card-group">
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Teclado_Genius.png" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Teclados</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Teclado_Gamer.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Teclados Gamers</h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/ComboTecladoMouse.png" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Combos Teclados y Mouses</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/ComboTecladoMousewifi.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Combos Teclados y Mouses Inalambricos</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/TecladoSmart.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Teclados para Smart</h5>
               
              </div>
            </div>
          </div>
    
          <!--Cuarto set tarjetas-->
          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/router tplink.JPG" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Routers</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/extensorRango.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Extensores de Rango</h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/switch.png" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Switchs</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/PlacasRed.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Placas de Red PCIE</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/PlacRedWifi.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Placas de Red Wifi</h5>
               
              </div>
            </div>
         
          </div>
    
          <!--Quinto set tarjetas-->
          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/parlantes_genius.png" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title"><a href="Parlantes.html">Parlantes</a></h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Microfonos_Netmark.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Micrófonos</h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/AuricularesCableados.png" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Auriculares Cableados</h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/AuricularesInalambricos.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Auriculares Inalámbricos</h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/AuricularesGamer.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Auriculares Gamers</h5>
              
              </div>
            </div>
    
          </div>
    
          <!--Sexto set tarjetas-->
          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/BaseNotebooks.png" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Bases Notebooks</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/FundaNotebooks.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Fundas Notebooks</h5>
              
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/CargadorNotebook.png" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Cargadores Notebooks</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Estabilizadores.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Estabilizadores</h5>
               
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="./assets/img/Productos/Accesorios.png" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Cables, Acccesorios varios</h5>
               
              </div>
            </div>
          </div>
          

 
        </div>

      </div>
    </section><!-- End Productyos Section -->

   

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>STI</span>
            </a>
            <p>Síganos en nuestras redes</p>
            <div class="social-links d-flex  mt-3">
              <a href="" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/sti.computacion.5/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/feed/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="#promociones">Promociones</a></li>
              <li><i class="bi bi-dash"></i> <a href="#servicios">Servicios</a></li>
              <li><i class="bi bi-dash"></i> <a href="#productos">Productos</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <!--<li><i class="bi bi-dash"></i> <a href="#">Servicio Técnico PC y Notebook</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Venta Equipos nuevos </a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Venta Accesorios informáticos</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Venta Insumos de Impresión</a></li>-->

              <li><i class="bi bi-dash"></i>Servicio Técnico PC y Notebook</li>
              <li><i class="bi bi-dash"></i>Venta Equipos nuevos</li>
              <li><i class="bi bi-dash"></i>Venta Accesorios informáticos</li>
              <li><i class="bi bi-dash"></i>Venta Insumos de Impresión</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contactenos</h4>
            <p>
              San Juan 752 <br>
              Villa del Rosario, Córdoba<br>
              Argentina <br><br>
              <strong>Telefono:</strong> 03573 453947  <br>
              <strong>Watsapp:</strong> +54 9 3573 - 412796 / 405535<br>
              <strong>Email:</strong> dmerlosti@hotmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>STICode</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
         <!-- Desarrollados por <a href="https://bootstrapmade.com/">STI.Code</a> -->
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>