<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Toners</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/faviconSTI.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova - v1.2.1
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-index">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">Soluciones Tecnologicas Integrales</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="#footer">Encontranos en</a></li>
          <li><a href="contact.html" target="_blank">Contacto</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">


     <!-- ======= Productos Section ======= -->
     <section id="productos" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Toners alternativos</h2>
        </div>

        <div class="row gy-5">
          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="assets/img/Productos2/TonerHP2612.jpg" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 2612A</h5>
                <p class="card-text">1010/1012/1015/1018/1020/1022/M1005 mfp/3015/3020/3030/ M1319f mfp/3050/3052/3055</p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerHP285.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 285 Universal</h5>
                <p class="card-text">1010/1012/1015/1018/1020/1022/M1005 mfp/3015/3020/3030/ M1319f mfp/3050/3052/3055</p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerHP217.jpg" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 217A</h5>
                <p class="card-text">102/130/mf113w</p>  
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="assets/img/Productos2/TonerHP279.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 279A</h5>
                <p class="card-text">M102W/MFP M26A/MFP M26NW</p> 
              </div>
            </div>
          </div> <!-- Fin primer grupo de opciones-->
          
          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="assets/img/Productos2/TonerHP1105SChip.jpg" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 1105</h5>
                <p class="card-text">107a/107w MFP 135a/135ag/135w/135wg/137fnw/137fwg</p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerHP283.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 283A </h5>
                <p class="card-text">M125- M127F-M 201-M225</p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerHP310A.jpg" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 310A</h5>
                <p class="card-text">LaserJet Pro 100 color MFP M175NW/PRO M275 MFP/PRO CP1025/ 1025NW/PRO MFP M176/M176FN/N177/M177FW/CP1021/CP1022/CP1023/CP1025/CP1025nw/CP1026nw/CP1027nw/CP1028nw/MFPM175nw/M175a/M175b/M175c/M175e/M175p/M175r/M275s/M275t/M275u/M275nw/M176n/M177fw.</p>  
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="assets/img/Productos2/TonerHP505A.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo HP 505A</h5>
                <p class="card-text">P2035/P2035N/P2050/P2055D/P2055DN/P2055X/400 M401D/M401DN/M401N/MFP M425DW</p> 
              </div>
            </div>
          </div> <!-- Fin Segundo grupo de opciones-->

          <div class="card-group">
            <div class="card" style="border: none;">
              <img src="assets/img/Productos2/TonerSamsung101.jpg" class="card-img-top" alt="..." style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo Samsung 101</h5>
                <p class="card-text">ML-2160/2165/2165W/SCX3400/3405/3405F/3405FW</p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerSamsung104.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo Samsung 104 </h5>
                <p class="card-text">ML-1660/1665/1860/1861/1865/1670/1667/1671/1675/1676/1677/1673/1674/1678/1865/1861/1864/1867/SCX-3200/3201/3217/3218/3205/3207/3210</p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerSamsung111.jpg" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo Samsung 111</h5>
                <p class="card-text">M-2020/2022/2070</p>  
              </div>
            </div>
            <div class="card" style="border: none;">
              <img src="assets/img/Productos2/TonerRicoh3710.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo RICOH 3710</h5>
                <p class="card-text">SP 3710DN / SP 3710SF</p> 
              </div>
            </div>
          </div> <!-- Fin Tercer grupo de opciones-->

          <div class="card-group">
            <div class="card" style="border: none;">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerBROTHER1060.jpg" class="card-img-top" alt="..."  style="width: 200px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo BROTHER TN 1060 </h5>
                <p class="card-text">HL1110/HL1112/HL1200/HL1212W/DCP1512/DCP1617NW/MFC1810</p> 
              </div>
            </div>
            <div class="card"  style="border: none;">
              <img src="assets/img/Productos2/TonerBROTHER410.jpg" class="card-img-top" alt="..."  style="width: 250px; height:150px">
              <div class="card-body">
                <h5 class="card-title">Toner alternativo BROTHER TN 410</h5>
                <p class="card-text">HL-2130/2220/2230/2240/2242/2250/2270/MFC- 7360/7470/7460/7860/DCP- 7057/7060/7065/7055
                  FAX-2840, 2990</p>  
              </div>
            </div>
            <div class="card" style="border: none;">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p> 
              </div>
            </div>
          </div> <!-- Fin Cuarto grupo de opciones-->


        </div>
      </div>
    </section><!-- End Productyos Section -->

   

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>STI</span>
            </a>
            <p>Síganos en nuestras redes</p>
            <div class="social-links d-flex  mt-3">
              <a href="" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/sti.computacion.5/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/feed/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="#promociones">Promociones</a></li>
              <li><i class="bi bi-dash"></i> <a href="#servicios">Servicios</a></li>
              <li><i class="bi bi-dash"></i> <a href="#productos">Productos</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <!--<li><i class="bi bi-dash"></i> <a href="#">Servicio Técnico PC y Notebook</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Venta Equipos nuevos </a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Venta Accesorios informáticos</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Venta Insumos de Impresión</a></li>-->

              <li><i class="bi bi-dash"></i>Servicio Técnico PC y Notebook</li>
              <li><i class="bi bi-dash"></i>Venta Equipos nuevos</li>
              <li><i class="bi bi-dash"></i>Venta Accesorios informáticos</li>
              <li><i class="bi bi-dash"></i>Venta Insumos de Impresión</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contactenos</h4>
            <p>
              San Juan 752 <br>
              Villa del Rosario, Córdoba<br>
              Argentina <br><br>
              <strong>Telefono:</strong> 03573 453947  <br>
              <strong>Watsapp:</strong> +54 9 3573 - 412796 / 405535<br>
              <strong>Email:</strong> dmerlosti@hotmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>STICode</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
         <!-- Desarrollados por <a href="https://bootstrapmade.com/">STI.Code</a> -->
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>